.container{
  margin-right: -250px;
  margin-top: 131px;
}


.result {
  display: none;
  position: absolute;
  text-align: center;
  top: 38%;
  width: 100%;
}

.result span {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

.result .close {
  margin-top: 70px;
}

.result .close a {
  color: white;
  background-color: green;
  font-size: 21px;
  text-decoration: none;
  border: 3px solid white;
  padding: 10px 15px;
  border-radius: 5px;
}

.play{
  margin-right: 120px;
}
